<apex:page standardController="Account" extensions="CustomerInvoiceControllerAccept" showHeader="false" standardStylesheets="false">
<center class="loading" style="display: none;"><br/><img src="{!$Resource.CompassStatic}/img/loading.gif"/></center>
<div class="loading">

<apex:outputPanel rendered="{!noaccess}">
    <div style="font-size:12px;overflow-x:auto;">
        <apex:form >
<table style="height: 60%;" border="1" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr style="border-color: 030308;">
<td style="width: 2.5%; height: 1.4%;"><strong>Invoice Date</strong></td>
<td>&nbsp;{!Cusdat}</td>
<td style="width: 7.3%; height: 1.4%;"><strong>Invoice #</strong></td>
<td>&nbsp;{!acc.Customer_Invoice__c}</td>
<td style="width: 7.3%; height: 1.4%;"><strong>PO #</strong></td>
<td colspan="5">&nbsp;&nbsp;&nbsp;{!acc.PO__c}&nbsp;&nbsp;</td>
</tr>
<tr>
<td style="width: 12.2%; height: 1.4%; background-color: #000000;" colspan="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;"><strong>Bill To:</strong></td>
<td style="width: 2.5%; height: 1.4%; text-align: center;" colspan="9"><strong>&nbsp;&nbsp; &nbsp; Service Notes</strong>&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td style="width: 61%; height: 1.4%;">{!acc.First_Name__c}</td>
<td colspan="9" rowspan="5">{!acc.Notes3__c}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td style="width: 6.1%; height: 1.4%;">&nbsp;{!acc.Billing_Address__c}</td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;">&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="width: 2.5%; height: 1.4%;" colspan="9"><strong>For:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;"><strong>Service Info</strong></td>
<td style="width: 2.5%; height: 1.4%;" colspan="9">{!acc.Services_Type__c}&nbsp; &nbsp; &nbsp; &nbsp;</td>
</tr>
<tr>
    <td style="width: 2.5%; height: 1.4%;"><strong>Service Date:</strong> {!Credat}</td>
<td style="width: 9.77%; height: 1.4%;"><strong>Item</strong></td>
<td style="width: 9.77%; height: 1.4%;" colspan="8"><strong>Price</strong></td>
</tr>
<tr>
    <td style="width: 2.5%; height: 1.4%;"><strong>Ref #</strong> {!acc.Reference__c}</td>
<td style="width: 2.5%; height: 1.4%;"><strong>Service Call</strong></td>
    <td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Invoice_Service_Call__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>
    <td style="width: 2.5%; height: 1.4%;"><strong>Vehicle:</strong> {!acc.Car_Details__c}</td>
<td style="width: 2.5%; height: 1.4%;"><strong>Hookup Fee</strong></td>
<td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Invoice_Hookup_Fee__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;">&nbsp;{!badd}</td>
<td style="width: 2.5%; height: 1.4%;"><strong>Mileage</strong></td>
<td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Invoice_Mileage__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;">&nbsp;{!sadd}</td>
<td style="width: 2.5%; height: 1.4%;"><strong>Extra Labor</strong></td>
<td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Extra_Labor__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;"></td>
<td style="width: 2.5%; height: 1.4%;"><strong>Special Equipment</strong></td>
    <td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Special_Equipment__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;">&nbsp;{!ser.First_Name__c} {!ser.Last_Name__c}</td>
<td style="width: 2.5%; height: 1.4%;"><strong>Lock Out Fee</strong></td>
    <td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Lock_Out_Fee__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;" rowspan="7">&nbsp;</td>
<td style="width: 2.5%; height: 1.4%;"><strong>Flat Tire Fee</strong></td>
    <td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Flat_Tire_Fee__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>

<td style="width: 2.5%; height: 1.4%;"><strong>Jump Start Fee</strong></td>
    <td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Jump_Start_Fee__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>

<td style="width: 2.5%; height: 1.4%;"><strong>Connivant Drop-Off Free</strong></td>
    <td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Connivant_DropOff_Fee__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>

<td style="width: 2.5%; height: 1.4%;"><strong>HWY Pick-Up Fee</strong></td>
    <td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.HWY_PickUp_Fee__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>

<td style="width: 2.5%; height: 1.4%;"><strong>Cleaning Fee</strong></td>
    <td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Cleaning_Fee__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>

<td style="width: 2.5%; height: 1.4%;"><strong>Material</strong></td>
    <td colspan="8"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Material2__c}"/></apex:outputText></td>
</tr>
<tr>
<td colspan="2"><strong>Subtotal&nbsp;</strong></td>
    <td style="width: 2.5%; height: 1.4%;" colspan="7"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Total_Amount__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%; background-color: #000000;" colspan="10">&nbsp;</td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;" rowspan="4"></td>
<td style="width: 2.5%; height: 1.4%;" colspan="2"><strong>Sales Tax</strong></td>
    <td colspan="7"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Sales_Tax__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;" colspan="2"><strong>Invoice Total</strong></td>
    <td colspan="7"><apex:outputText value="{0, Number, Currency}"><apex:param value="{!acc.Invoice_Total__c}"/>&nbsp;</apex:outputText></td>
</tr>
<tr>
    <td style="width: 2.5%; height: 1.4%;" rowspan="2"></td>
<td style="width: 1%; height: 1.4%; text-align: left;"><strong>Invoice Comments</strong></td>
<td style="width: 2.5%; height: 1.4%;" colspan="7"></td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%; text-align: left;"><strong>Invoice Terms&nbsp;</strong></td>
<td colspan="7">Due Upon Receipt &nbsp;</td>
</tr>
<tr>
<td style="width: 22.5%; height: 1.4%;"><strong>Customer Signature</strong></td>
    <td style="width: 110px; height: 1.4%;"></td>
<td colspan="8" rowspan="2"><strong>Thank you for your business!</strong>&nbsp;&nbsp;</td>
</tr>
<tr>
<td style="width: 12.5%; height: 1.4%;"><strong>Drivers Signature</strong></td>
    <td style="width: 110px; height: 1.4%;"></td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;"><strong>Make all checks payable to:</strong></td>
<td style="width: 2.5%; height: 1.4%;">&nbsp;{!IF(companyn!="",companyn,ser.Company_Name__c)}</td>
<td style="width: 2.5%; height: 1.4%;" colspan="8" rowspan="4"><apex:image value="{!IF(atid!='','/servlet/servlet.FileDownload?file='+atid,inv.Logo_URL__c)}"></apex:image></td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;"><strong>If you have any questions concerning this invoice, please contact us at:</strong></td>
<td style="width: 110px; height: 1.4%;"></td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%;"><strong>Tel</strong></td>
<td style="width: 2.5%; height: 1.4%;">&nbsp;{!IF(companyt!="",companyt,ser.Phone__c)}</td>
</tr>
<tr>
<td><strong>Email</strong></td>
<td style="width: 2.5%; height: 1.4%;">&nbsp;{!ser.Email__c}</td>
</tr>
<tr>
<td style="width: 2.5%; height: 1.4%; background-color: #000000;" colspan="10">&nbsp;</td>
</tr>
<apex:outputText rendered="{!(signaturepic!='')}">
    <tr>
        <td colspan="10">
           <apex:image width="100%" height="160px" value="{!signaturepic}"></apex:image>
        </td>
    </tr>
</apex:outputText>
</tbody>
</table>
        <script src="{!$Resource.CompassStatic}/lib/jquery.min.js"></script>
        <apex:actionFunction action="{!GeneratePDF}" name="GeneratePDF" oncomplete="setTimeout(GeneratePDF, 500)"/>        


<apex:commandButton rendered="{!(signaturepic!='')}" action="{!Back}" value="Back to Resign" id="theButton2"/>
<button onclick="event.preventDefault(); $('.loading').toggle(); GeneratePDF()"><apex:outputText value="{!IF(signaturepic!='','Accept Signature & Send Invoice', 'Continue')}"></apex:outputText></button>
        </apex:form>
    </div>
  </apex:outputPanel>
  <apex:outputPanel rendered="{!(!noaccess)}">
  <apex:outputText value="You don't have permissions to access this page"/>
  </apex:outputPanel>
</div>
</apex:page>