<apex:page standardController="Opportunity" extensions="OppPicklistController" applyBodyTag="false" cache="false" showQuickActionVfHeader="false" showHeader="false" standardStyleSheets="false" sidebar="false" docType="html-5.0">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
        <apex:includeScript value="/sforce/one/43.0/api.js"/>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <style>
            .btn{
            margin: 2px;
            }
            div.hideCurrDate span.dateInput span.dateFormat{
            display:none;
            }
            .loader {
            width: 100px;
            height: 100px;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            animation: spin 2s linear infinite;
            display: block;
            position: fixed;
            }
            .overlay {
            display:none;
            opacity:0.8;
            background-color:#ccc;
            position:fixed;
            width:100%;
            height:100%;
            top:0px;
            left:0px;
            z-index:1000;
            }
            .stck{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            }
            @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
            }
        </style>
        <script>
        var timeout;
        var lastBTN;
        var lastTap = 0;
        $ = jQuery.noConflict();
        function checkDat(){
            if($('.input-subject').val()!=null&&$('.input-subject').val()!=''&&$('.input-date').val()!=null&&$('.input-date').val()!=''){
                load();
                $('.realsave').click();
                $('#newTaskModal').modal('hide');
            }
            else{
                alert('Please fill Subject');
            }
        }
        function load(){
            document.getElementById('overlay').style.display = 'block';
        }
        function unload(){
            document.getElementById('overlay').style.display = 'none';
        }
        function checkPreReq(){
            var prereq = $.parseJSON('{!PreReqFieldJSON}');
            var acnames = $.parseJSON('{!fieldNameByActivityJson}');
            for(var key in prereq){
                if(prereq[key]==null){	
                    $('.'+key+'-check').removeAttr('disabled');
                    initClick(key);
                }
                else{
                    var arr = prereq[key].split(';');
                    var count=0;
                    for(var i=0;i<arr.length;i++){
                        if($('.'+acnames[arr[i]]+'-check').val()!='--None--')
                            count++;
                    }
                    if(count==arr.length){
                        $('.'+key+'-check').removeAttr('disabled');
                        initClick(key);
                    }
                }
            }
        }
        function initClick(obj){
            if(!$('.'+obj+'-check').hasClass("init")){
                /*if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                    $('.'+obj+'-check')[0].addEventListener('touchend', function(event) {
                        var currentTime = new Date().getTime();
                        var tapLength = currentTime - lastTap;
                        clearTimeout(timeout);
                        if (tapLength < 500 && tapLength > 0 && obj == lastBTN) {
                            $('.'+obj+'-curval').val('Completed');
                            $('.'+obj+'-curval').trigger("change");
                            event.preventDefault();
                        } else {
                            timeout = setTimeout(function() {
                                $('#'+obj).modal('show');
                                clearTimeout(timeout);
                            }, 500);
                        }
                        lastTap = currentTime;
                        lastBTN = obj;
                    });
                }
                else {*/
                    $('.'+obj+'-check')[0].addEventListener('click', function(event) {
                        var currentTime = new Date().getTime();
                        var tapLength = currentTime - lastTap;
                        clearTimeout(timeout);
                        if (tapLength < 500 && tapLength > 0 && obj == lastBTN) {
                            $('.'+obj+'-curval').val('Completed');
                            $('.'+obj+'-curval').trigger("change");
                            event.preventDefault();
                        } else {
                            timeout = setTimeout(function() {
                                $('#'+obj).modal('show');
                                clearTimeout(timeout);
                            }, 500);
                        }
                        lastTap = currentTime;
                        lastBTN = obj;
                    });
                //}
                $('.'+obj+'-check').addClass("init");
            }
        }

        </script>
    </head>
    <body class="bg-transparent">
        <div id="container" class="container-fluid">
                <apex:form >
                    <div class="stck">
                        <div class="my-3 p-1 bg-light rounded shadow" id="myHeader">
                            <div class="row">
                                <div class="col" align="left">
                                    <apex:commandButton styleClass="btn btn-danger" value="CANCEL" onclick="load();" oncomplete="sforce.one.navigateToSObject('{!opp.Id}');"/>&nbsp;
                                    <apex:commandButton styleClass="btn btn-secondary checkchange" value="SAVE" action="{!sav}" onclick="load();" oncomplete="sforce.one.navigateToSObject('{!opp.Id}');"/>
                                </div>
                                <div class="col" align="right">
                                    <apex:commandButton styleClass="btn btn-secondary" value="New Basic Action" html-data-toggle="modal" html-data-target="#newTaskModal" reRender="newtask"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <apex:outputPanel id="all">
                    <script>
                    $( document ).ready(function() {
                        checkPreReq();
                    });
                    </script>
                    <div id="overlay" align="center" class="overlay"><div id="load" class="loader"><i class="fas fa-cog" style="font-size: 100px;"></i></div></div>
                    <div id="box2" class="my-3 p-1 bg-light rounded shadow" style="margin-top: 4rem!important;">
                        <apex:repeat var="fset" value="{!fieldsetsname}">
                            <div class="row">
                                <div class="col-sm" align="left">
                                    <b>{!titles[fset]}</b>
                                </div>
                            </div>
                            <apex:repeat var="field" value="{!fieldsByTitle[fset]}">
                                    <div class="row" style="{!if(ShowReqField[field]!='NA','','display:none;')}">
                                        <div class="col-sm" align="left">
                                            {!fieldLabels[field]}
                                        </div>
                                        <div class="col-sm" align="right" style="">
                                            <apex:commandButton styleClass="btn btn-primary {!field}-check" value="{!if(opp[field]!=null,opp[field],'--None--')}" reRender="none" disabled="true"/>
                                        </div>
                                    </div>
                                <!-- Modal Fields-->
                                <div class="modal fade" id="{!field}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <apex:outputPanel rendered="{!field!=null}">
                                            <script>
                                            $($('option[value=""]')[0]).attr('disabled',true);
                                            </script>
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{!activityNames[field]}</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-sm" align="left">
                                                        Status:
                                                    </div>
                                                    <div class="col-sm" align="right">
                                                        <apex:inputField onchange="$('.{!field}-check').val($(this).val());$('.checkchange').removeClass('btn-secondary');$('.checkchange').addClass('btn-primary',add);checkPreReq();" styleClass="{!field}-curval" value="{!opp[field]}"/>
                                                    </div>
                                                </div>
                                                <br/>
                                                <div class="row">
                                                    <div class="col-sm" align="left">
                                                        Date:
                                                    </div>
                                                    <div class="col-sm hideCurrDate" align="right">
                                                        <apex:inputField type="date" value="{!opp[dat[field]]}"/>
                                                    </div>
                                                </div>
                                                <br/>
                                                <div class="row">
                                                    <div class="col-sm" align="left">
                                                        Comments:
                                                    </div>
                                                    <div class="col-sm" align="right">
                                                        <apex:inputField value="{!opp[comment[field]]}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            </apex:outputPanel>
                                            <div class="modal-footer">
                                                <apex:commandButton value="OK" styleClass="btn btn-primary" onclick="$('#{!field}').modal('hide');" reRender="none"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </apex:repeat>
                            <br/>
                        </apex:repeat>
                    </div>
                    <!-- Modal newTask-->
                    <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <apex:outputPanel id="newtask">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">New Basic Action</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm" align="left">
                                                Subject:
                                            </div>
                                            <div class="col-sm" align="right">
                                                <apex:selectList value="{!othertask}" styleClass="input-subject" multiselect="false" size="1">
                                                    <apex:selectOptions value="{!othertasks}"/>
                                                </apex:selectList>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-sm" align="left">
                                                Date:
                                            </div>
                                            <div class="col-sm" align="right">
                                                <apex:input type="date" styleClass="input-date" value="{!newTaskdat}" required="true"/>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-sm" align="left">
                                                Comments:
                                            </div>
                                            <div class="col-sm" align="right">
                                                <apex:inputField value="{!newTask.Description}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <apex:commandButton value="CANCEL" styleClass="btn btn-secondary" html-data-dismiss="modal" action="{!initTask}" reRender="all"/>
                                        <apex:commandButton value="SAVE" styleClass="btn btn-primary" onclick="checkDat();" reRender="none"/>
                                        <apex:commandButton value="hidden" styleClass="btn btn-primary realsave" style="display:none;" action="{!saveNewTask}" reRender="all"/>
                                    </div>
                                </div>
                            </div>
                        </apex:outputPanel>
                    </div>
                    </apex:outputPanel>
                </apex:form>
        </div>
    </body>
</apex:page>