<apex:page standardController="Contact" sidebar="false" showheader="false">
	<script>
	window.onload=function start(){
		window.location.href='/apex/DynamicRelated?id={!Contact.Accountid}&obj=OpportunityLineItem';
	}
	</script>
</apex:page>