<apex:page title="Estimate" docType="html-5.0" applyHtmlTag="false" showHeader="false" standardStylesheets="false" standardController="Catalog_Order__c"
    extensions="CustomerInvoiceController">
    <html>

    <head>
        <style>
            body {
                font-family: "Arial Unicode MS";
                font: 9pt;
                height: 100%;
            }

            h2 {
                font-size: 20pt;
            }
        </style>
    </head>

    <body>
        <div align="center">
            <table style="width: 100%; table-layout: fixed; font-size: small;">

                <tr>
                    <td style="text-align:center;width: 100%;">
                        <div align="center" style="width: 100%; margin: auto;">
                            <a href="https://veterangaragedoor.com" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.vgdlogo)}" style="width: 30%;" />&nbsp;</a>
                        </div>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td style="text-align:center;width: 100%;">
                        <div align="center" style="width: 100%; margin: auto;">
                            <a href="https://www.facebook.com/VGDteam/" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.facebooklogo)}" style="width: 3%;" />&nbsp;</a>
                            <a href="https://www.yelp.com/biz/veteran-garage-door-grand-prairie-6" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.yelplogo)}" style="width: 3%;" />&nbsp;</a>
                            <a href="https://plus.google.com/106721865676742527969?hl=en" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.googlemapslogo)}" style="width: 3.2%;" />&nbsp;</a>
                            <a href="https://ink361.com/app/users/3162258186/veterangaragedoor/photos" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.instagramlogo)}" style="width: 3%;" />&nbsp;</a>
                            <a href="https://nextdoor.com/pages/veteran-garage-door-repair/recommend/" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.nextdoorlogo)}" style="width: 3%;" />&nbsp;</a>
                        </div>
                    </td>
                </tr>
            </table>
            <h2>ESTIMATE</h2>
        </div>
        <table style="width: 100%; table-layout: fixed; font-size: small;" cellspacing="0" cellpadding="0">
            <tr>
                <th style="text-align:center;background-color:#F2F2F2;">Appointment</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Technician</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Representative</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Estimate number</th>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <apex:outputText value="{!dat}" />
                </td>
                <td style="text-align:center;border-left: 1px solid grey;">{!Catalog_Order__c.Service_Lookup__r.CKSW_BASE__Resource__r.Name}</td>
                <td style="text-align:center;border-left: 1px solid grey;">{!Catalog_Order__c.Service_Lookup__r.CreatedBy.name}</td>
                <td style="text-align:center;border-left: 1px solid grey;">{!Catalog_Order__c.Estimate_num__C}</td>
            </tr>
        </table>

        <br/>
        <table style="width: 25%; table-layout: fixed; font-size: small;" cellspacing="0" cellpadding="0">
            <tr>
                <th style="text-align:center;border-right: 1px solid grey;background-color:#F2F2F2;">Service Completed</th>
            </tr>
            <tr>
                <td style="text-align:center;border-right: 1px solid grey;">
                    <apex:outputText value="{!datcomplete}" />&nbsp;</td>
            </tr>
        </table>

        <br/>
        <table style="width: 100%; table-layout: fixed; font-size: small;" cellspacing="0" cellpadding="0">
            <tr>
                <th style="text-align:center;background-color:#F2F2F2;">Customer Name</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Property Address</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Phone Number</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">E-mail Address</th>
            </tr>
            <tr>
                <td style="text-align:center;">{!Catalog_Order__c.Account__r.FirstName} {!Catalog_Order__c.Account__r.LastName}</td>
                <td style="text-align:left;border-left: 1px solid grey;">{!Catalog_Order__c.Service_Lookup__r.CKSW_BASE__Street__c}
                    <br/>{!Catalog_Order__c.Service_Lookup__r.CKSW_BASE__City__c}, {!Catalog_Order__c.Service_Lookup__r.CKSW_BASE__State__c}
                    {!Catalog_Order__c.Service_Lookup__r.CKSW_BASE__zip__c}</td>
                <td style="text-align:center;border-left: 1px solid grey;">{!Catalog_Order__c.Account__r.PersonMobilePhone}</td>
                <td style="text-align:center;border-left: 1px solid grey;">{!Catalog_Order__c.Account__r.PersonEmail}</td>
            </tr>
        </table>

        <br/>
        <table style="width: 100%; table-layout: fixed; font-size: small;">
            <tr>
                <td style="text-align:center;">
                    <table style="width: 100%; table-layout: fixed; font-size: small;" cellspacing="0" cellpadding="0">
                        <tr>
                            <th style="text-align:center;background-color:#F2F2F2;">QTY</th>
                            <th style="text-align:center;width: 65%;border-left: 1px solid grey;background-color:#F2F2F2;">Description</th>
                            <apex:outputPanel rendered="{!disc}">
                                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Discount</th>
                            </apex:outputPanel>
                            <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Price</th>
                        </tr>
                        <apex:repeat var="item" value="{!Catalog_Order__c.Catalog_Line_Items__r}">
                            <tr>
                                <td style="text-align:center;">{!item.Quantity__c}</td>
                                <td style="text-align:left;width: 65%; border-left: 1px solid grey;">{!item.Product__r.Name}
                                    <apex:outputPanel rendered="{!item.Product_Description__c!=null}">
                                        <br/>
                                        <apex:outputField value="{!item.Product_Description__c}" />
                                        <apex:outputPanel rendered="{!item.Color__c!=null}">
                                            <br/>
                                            Color:&nbsp;<apex:outputField value="{!item.Color__c}" />
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </td>
                                <apex:outputPanel rendered="{!disc}">
                                    <td style="text-align:center;border-left: 1px solid grey;">
                                        <apex:outputText value="{0, Number, 0}%">
                                            <apex:param value="{!item.Discount__c}" /></apex:outputText>
                                    </td>
                                </apex:outputPanel>
                                <td style="text-align:center;border-left: 1px solid grey;">
                                    <apex:outputText value="{0, Number, Currency}">
                                        <apex:param value="{!item.Final_Price__c}" /></apex:outputText>
                                </td>
                            </tr>
                        </apex:repeat>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%; border-left: 1px solid grey;"></td>
                            <apex:outputPanel rendered="{!disc}">
                                <td style="text-align:center;border-left: 1px solid grey;"></td>
                            </apex:outputPanel>
                            <td style="text-align:center;border-left: 1px solid grey;"></td>
                        </tr>
                    </table>
                    <br/>
                    <table style="width: 100%; table-layout: fixed; font-size: small;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <apex:outputPanel rendered="{!disc}">
                                <td style="text-align:center;"></td>
                            </apex:outputPanel>
                            <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Deposit:</th>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <apex:outputPanel rendered="{!disc}">
                                <td style="text-align:center;"></td>
                            </apex:outputPanel>
                            <td style="text-align:center;border-left: 1px solid grey;">
                                <apex:outputText value="{0, Number, Currency}">
                                    <apex:param value="{!Catalog_Order__c.Payments__c}" /></apex:outputText>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <apex:outputPanel rendered="{!disc}">
                                <td style="text-align:center;"></td>
                            </apex:outputPanel>
                            <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Balance:</th>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <apex:outputPanel rendered="{!disc}">
                                <td style="text-align:center;"></td>
                            </apex:outputPanel>
                            <td style="text-align:center;border-left: 1px solid grey;">
                                <apex:outputText value="{0, Number, Currency}">
                                    <apex:param value="{!Catalog_Order__c.Balance__c}" /></apex:outputText>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <apex:outputPanel rendered="{!disc}">
                                <td style="text-align:center;"></td>
                            </apex:outputPanel>
                            <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Tax: 8.25%</th>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <apex:outputPanel rendered="{!disc}">
                                <td style="text-align:center;"></td>
                            </apex:outputPanel>
                            <td style="text-align:center;border-left: 1px solid grey;">
                                <apex:outputText value="{0, Number, Currency}">
                                    <apex:param value="{!Catalog_Order__c.Tax__c}" /></apex:outputText>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <apex:outputPanel rendered="{!disc}">
                                <td style="text-align:center;"></td>
                            </apex:outputPanel>
                            <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Estimate Grand Total:</th>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <apex:outputPanel rendered="{!disc}">
                                <td style="text-align:center;"></td>
                            </apex:outputPanel>
                            <td style="text-align:center;border-left: 1px solid grey;">
                                <apex:outputText value="{0, Number, Currency}">
                                    <apex:param value="{!Catalog_Order__c.Grand_Total__c}" /></apex:outputText>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table style="width:66%;table-layout: fixed; font-size: small;" cellspacing="0" cellpadding="0">
            <tr>
                <th style="text-align:center;background-color:#F2F2F2;">Job Notes</th>
            </tr>
            <tr>
                <td style="text-align:center;border-right: 1px solid grey;">{!Catalog_Order__c.Service_Lookup__r.job_notes__c}
                    <br/>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">&nbsp;</td>
            </tr>
            <tr>
                <th style="text-align:center;background-color:#F2F2F2;">Additional information</th>
            </tr>
            <tr>
                <td style="text-align:center;border-right: 1px solid grey;">{!Catalog_Order__c.Service_Lookup__r.Additional_Information__c}
                    <br/>
                </td>
            </tr>
        </table>
        <br/>
        <div style="width: 100%; font-size: small;">
            Service Disclaimer
            <hr/> New installations (Doors / Openers / Springs) labor guaranteed for 1 year
            <br/>General labor performed is guaranteed for 30 days
            <br/>All parts are under warranty for 1 year from date listed (except remotes and sensors) unless mentioned otherwise
            <br/>A 50% Deposit is required for all work orders
            <br/>72 HOUR NOTICE of cancellation or reschedule in writing / email is required in order to receive a full deposit
            refund
            <br/>Prior to Door and Opener installation garage must be CLEAN (from garage door to 2ft past end of top tracks must
            be clear)
            <br/>A $50 fee will be assessed, if on the day of installation the garage is not cleaned, as stated above
            <br/>Estimates are valid for 30 days from the date listed above.
            <br/>By signing this document the customer understand the above terms and agrees to pay any invoice(s) rendered in
            compliance with associated Payment terms.
        </div>
        <br/>
        <apex:form >
            <!---signature start-->
            <div style="border: 1px solid grey;">
                <apex:outputText rendered="{!ISBLANK($CurrentPage.parameters.pdf)}">
                    Signature:
                    <br/>
                    <canvas style="width: 100%;height: 200px;background-color: white;" id="sPad" />
                    <apex:inputHidden value="{!signatureData}" html-class="signatureData" />
                    <script src="{!$Resource.VgdStatic}/lib/jquery.min.js"></script>
                    <script src="{!$Resource.VgdStatic}/lib/sPad.js"></script>
                    <script>
                        var canvas = document.getElementById('sPad');
                        var ratio = Math.max(window.devicePixelRatio || 1, 1);
                        canvas.width = canvas.offsetWidth * ratio;
                        canvas.height = canvas.offsetHeight * ratio;
                        canvas.getContext("2d").scale(ratio, ratio);
                        var signaturePad = new SignaturePad(canvas);
                        signaturePad.onEnd = function () {
                            $('.signatureData').val(signaturePad.toDataURL());
                        }
                    </script>
                </apex:outputText>
            </div>
            <!---signature end-->
            <div align="center" style="width: 100%; font-size: small; margin: auto;">
                Veteran Garage Door Service 972.885.2982 817.769.6674 office@vetgd.com www.vetgd.com
            </div>
            <apex:commandButton action="{!GeneratePDF}" value="Continue" id="theButton" rerender="error" />
            <apex:outputPanel id="error">
                <apex:outputText style="color:red;" value="  Please Sign - in order to continue" rendered="{!sigin}"></apex:outputText>
            </apex:outputPanel>
        </apex:form>
    </body>

    </html>
</apex:page>