<apex:page standardController="Contact" sidebar="false" showheader="false">
    <script>
    window.onload=function start(){
        window.location.href='/apex/itmyway-apps__DynamicRelated?id={!Contact.id}&obj=Contact-Event&theme='+(document.referrer.includes('lightning')?'true':'false');
    }
    </script>
</apex:page>