<apex:page StandardController="Opportunity" extensions="HebrewPDF" showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyhtmltag="false" applybodytag="false" renderAs="PDF" language="he" action="{!Gen}">
    <head>
        <style type="text/css">
            @page {
                @bottom-right {
                    content: element(footer);
                }
                margin:100px;
            }
            body {
                font-size: 14px;
                line-height: 28px;
                font-family: "Arial Unicode MS";
            }
            div.footer {
                position: running(footer);
                height: 50px;
            }
        </style>
    </head>
    <body>
        <div align="center">
            <apex:image value="{!URLFOR($Resource['Ulpan_logo_fr'])}" width="150"/>
            <h2>מ"עב םידומיל ןוכיה</h2>
        </div>
        <div align="right">
           <apex:outputText value="{0,date,dd/MM/yy}"> <apex:param value="{!TODAY()}" /> </apex:outputText> ךיראת
        </div>
        <div align="center">
            <b><u>םידומיל  רושיא</u></b>
        </div>
        <div align="right">
            {!opp.Account.Teoudat_Zeout__c} :ז"ת {!NameInHebrew} יכ תאזב רשאמ יננה
            <br/>
            <apex:outputPanel rendered="{!Opportunity.Different_date_course__c=true}">
                <apex:outputField value="{!Opportunity.Different_End_of_Course__c}"/>&nbsp;דע&nbsp;<apex:outputField value="{!Opportunity.Different_Start_of_Course__c}"/>  המ ןפלוא ונלצא ת/דמול
            </apex:outputPanel>
            <apex:outputPanel rendered="{!Opportunity.Different_date_course__c!=true}">
                <apex:outputField value="{!courses[0].End_of_course__c}"/>&nbsp;דע&nbsp;<apex:outputField value="{!courses[0].Start_of_course__c}"/>  המ ןפלוא ונלצא ת/דמול
            </apex:outputPanel>
            <br/>
            .תויאמדקא תועש {!Hours} ללוכ סרוקה .ח"ש {!TotalPrice} הניה סרוקה תולע
            <br/>
            {!IF(Aplus==true,AplusText+' ןפלוא תמרב תירבעב ת/טלוש ה/דימלתה','')}
            <br/>
            <br/>
            <br/>
            <apex:image value="{!URLFOR($Resource['IconSig'])}" width="150"/>
        </div>
        <apex:form >
            <apex:param value="true" assignTo="{!ready}"/>
        </apex:form>
    </body>
</apex:page>