<apex:page StandardController="Opportunity" extensions="HebrewPDF" showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0" applyhtmltag="false" applybodytag="false" renderAs="PDF" language="he" action="{!Gen}">
    <head>
        <style type="text/css">
            @page{
                @bottom-right {
                    content: element(footer);
                }
                margin-top:50px;
                margin-bottom:100px;
                margin-left:100px;
                margin-right:100px;        
            }
            body {
                font-size: 14px;
                line-height: 28px;
                font-family: "Arial Unicode MS";
            }
            div.footer {
                position: running(footer);
                height: 50px;
            }
        </style>
    </head>
    <body>
        <div align="center">
            <apex:image value="{!URLFOR($Resource['Ulpan_logo_fr'])}" width="150"/>
            <h2>מ"עב םידומיל ןוכיה</h2>
        </div>
        <div align="left">
            <u><apex:outputText value="{0,date,dd/MM/yy}"> <apex:param value="{!TODAY()}" /> </apex:outputText></u>:ךיראת
        </div>
        <div align="center">
            * <b><u>תופתתשהו המשרה רושיא – תירבעה הפשה דומילל םירבוש</u></b>
        </div>
        <div align="right">
                <b><u>:הלועה יטרפ</u></b>
            <br/>
                <u>{!NameInHebrew}</u> :םש
            <br/>
                <u>{!opp.Account.Ole_Number__c}</u> :הלוע תדועת 'סמ <u>{!opp.Account.Teoudat_Zeout__c}</u>:תוהז תדועת 'סמ
            <br/>
                <b><u>:סרוקה יטרפ</u></b>
            <br/>
                :(לוגיעב ופיקה אנ) הצובקב םיפתתשמ
            <br/>
                דומיל תועש 150 םומינימ -םידימלת 4 דע <apex:outputText value="{!IF(Hours=150,'&#10004;','')}" escape="false"/>
            <br/>
                דומיל תועש 260 םומינימ – םידימלת 6 דע <apex:outputText value="{!IF(Hours=260,'&#10004;','')}" escape="false"/>
            <br/>
                דומיל תועש 320 םומינימ – םידימלת 8 דע <apex:outputText value="{!IF(Hours=320,'&#10004;','')}" escape="false"/>
            <br/>
                <apex:outputPanel rendered="{!Opportunity.Different_date_course__c=true}">
                    <u><apex:outputField value="{!Opportunity.Different_End_of_Course__c}"/></u>:םידומילה םויס דעומ <u><apex:outputField value="{!Opportunity.Different_Start_of_Course__c}"/></u>:םידומיל תליחת דעומ
                </apex:outputPanel>
                <apex:outputPanel rendered="{!Opportunity.Different_date_course__c!=true}">
                    <u><apex:outputField value="{!courses[0].End_of_course__c}"/></u>:םידומילה םויס דעומ <u><apex:outputField value="{!courses[0].Start_of_course__c}"/></u>:םידומיל תליחת דעומ
                </apex:outputPanel>
            <br/>
                <u><apex:outputText value="{!DaysOfStudy}"/></u>:דומיל ימי
            <br/>
                <u><apex:outputField value="{!courses[0].Start_time_course__c}"/> - <apex:outputField value="{!courses[0].End_time_course__c}"/></u>:דומיל תועש
            <br/>
                <u><apex:outputText value="{!IF(courses[0].Time_course__c='Evening','ברע','רקוב')}"/></u>:םידומיל לולסמ 
            <br/>
                <u><apex:outputText value="{!AddressShovar}"/></u>:דומיל םוקמ תבותכ
            <br/>
                ** <b><u>:םולשתה ןפוא</u></b>
            <br/>
                ₪ <u>{!TotalPrice}</u>:סרוקה ריחמ
            <br/>
                (לוגיעב ופיקה אנ) תואחמה /יארשא סיטרכ/ןמוזמ
            <br/>
            <br/>
                _____________________:הלועה תמיתח
            <br/>
            <br/>
                :דסומה תמתוחו המיתח
            <br/>
            <apex:image value="{!URLFOR($Resource['IconSig'])}" width="150"/>
        </div>
        <div class="footer" align="right">
            הטילקהו היילעה דרשממ הלועה תואכז רושיא תלבק ירחא ספוטה אלמל שי  *
            <br/>
            םולשתה לכ ס"ע המותח תירוקמ הלבק ףרצל שי **
        </div>
    </body>
</apex:page>