<apex:page controller="CreateCruise" showHeader="true" sidebar="true" tabStyle="Cruise__c">
    <script>
        var isClassic = {!$User.UITheme="Theme3"};
        var isMobile = {!$User.UITheme="Theme4t"};
    </script>
    <style>
        #accountnameerror { display: none; }
    </style>
    <script src="/sforce/one/41.0/api.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <div class="bPageTitle">
        <div class="ptBody">
            <div class="content">
                <img src="/img/s.gif" alt="הפלגה" class="pageTitleIcon" title="הפלגה"/>
                <h1 class="pageType">הפלגה חדשה
                    <span class="titleSeparatingColon">:</span>
                </h1>
                <h2 class="pageDescription"> בחירת סוג רשומת הפלגה</h2>
            </div>
        </div>
    </div>
    <div class="bDescription">בחר סוג רשומה עבור ההפלגה החדשה.</div>
    <div class="bPageBlock brandSecondaryBrd bEditBlock bLayoutBlock secondaryPalette" id="ep">
        <div class="pbHeader">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="pbTitle">
                            <img src="/img/s.gif" alt="" width="1" height="1" class="minWidth" title=""/>
                            <h2 class="mainTitle">בחירת סוג רשומת הפלגה</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <apex:form >
            <div class="pbBody">
                <div class="pbSubsection">
                    <table class="detailList" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td class="labelCol requiredInput">
                                    <label for="p3"><span class="assistiveText">*</span>סוג רשומה של רשומה חדשה</label>
                                </td>
                                <td class="data2Col" colspan="3">
                                    <apex:inputField value="{!cruise.RecordTypeId}" required="true" html-elm="recordtypeid"/>
                                    <script>
                                        var clubRT = $('[elm="recordtypeid"]').change(function() {
                                            var $elm = $('#accountnamerow');
                                            if (this.value === clubRT) $elm.show();
                                            else {
                                                $elm.hide();
                                                $('[elm="accountname"]').val('').removeClass('error');
                                                $elm.find('.errorMsg').hide();
                                            }
                                        }).val();
                                        setTimeout(function() {
                                            $('[elm="recordtypeid"]').val(clubRT);
                                        }, 0);
                                    </script>
                                </td>
                            </tr>
                            <tr id="accountnamerow">
                                <td class="labelCol requiredInput">
                                    <label for="p3"><span class="assistiveText">*</span>שם לקוח</label>
                                </td>
                                <td class="data2Col" colspan="3">
                                    <div class="requiredInput">
                                        <div class="requiredBlock"></div>
                                        <apex:inputField value="{!cruise.AccountName__c}" html-elm="accountname"/>
                                        <div id="accountnameerror" class="errorMsg"><strong>שגיאה:</strong> עליך להזין ערך</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pbBottomButtons">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="pbTitle"><img src="/img/s.gif" alt="" width="1" height="1" class="minWidth" title=""/>&nbsp;</td>
                            <td class="pbButtonb" id="bottomButtonRow">
                                <span style="display: none;"><apex:inputCheckbox value="{!isClassic}" html-elm="isclassic"/></span>
                                <apex:commandButton action="{!save}" value=" המשך " html-elm="save" reRender="createParam"/>
                                <input value=" ביטול " class="btn" name="cancel" title="ביטול" type="submit"/>
                                <apex:outputPanel id="createParam"><script>
                                    var createParam = {!createParam};
                                    if (createParam) {
                                        sforce.one.createRecord('Cruise__c', '{!cruise.RecordTypeId}', createParam);
                                        if (isMobile) sforce.one.navigateToURL('{!retURL}');
                                    }
                                </script></apex:outputPanel>
                                <script>
                                    $('[elm="isclassic"]')[0].checked = isClassic;
                                    $('[elm="save"]').click(function(ev) {
                                        var $elm = $('[elm="accountname"]');
                                        if ($elm.is(':visible') && !$elm.val()) {
                                            ev.preventDefault();
                                            $('#accountnamerow .errorMsg').hide();
                                            $('#accountnameerror').show();
                                        }
                                    })
                                    $('input[name="cancel"]').click(function(ev) {
                                        ev.preventDefault();
                                        var url = '{!retURL}';
                                        if (isClassic) location.href = url;
                                        else sforce.one.navigateToURL(url);
                                    });
                                </script>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </apex:form>
    </div>
    <h3 class="recordTypesHeading">סוגי רשומה זמינים של הפלגה</h3>
    <table class="infoTable recordTypeInfo" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr class="headerRow">
                <th class="recordTypeName" scope="col">שם סוג רשומה</th>
                <th class="recordTypeDescription" scope="col">תיאור</th>
            </tr>
            <script>
                var rts = {};
                $({!rts}).each(function (i, rt) { rts[rt.Id.substr(0, 15)] = rt; });
                $('[elm="recordtypeid"] option').each(function (i, o) {
                    var description = rts[o.value].Description;
                    if (!description) description = '';
                    $('.infoTable.recordTypeInfo').append(
                        '<tr>' +
                            '<th class="recordTypeName" scope="row">' + o.label + '</th>' +
                            '<td class="recordTypeDescription">' + description + '</td>' +
                        '</tr>'
                    );
                });
                $('.infoTable.recordTypeInfo tr:last').addClass('last');
            </script>
        </tbody>
    </table>
</apex:page>