<apex:page docType="html-5.0" applyHtmlTag="false" showHeader="false" standardStylesheets="false" standardController="Catalog_Order__c" extensions="CustomerInvoiceControllerAccept">
    <html>

    <head>
        <style>
            body {
                font-family: "Arial Unicode MS";
                font: 9pt;
                height: 100%;
            }
            h2 {
                font-size: 20pt;
            }
            @media print {
                .section {
                    page-break-inside: avoid;
                }
            }

            @page {
                @bottom-right {
                    font-family: "Arial Unicode MS";
                    font: 9pt;
                    content: counter(page)+'/'+counter(pages);
                }
                @bottom-center {
                    font-family: "Arial Unicode MS";
                    font: 9pt;
                    content: 'Veteran Garage Door Service 972.885.2982 817.769.6674 office@vetgd.com www.vetgd.com';
                }
            }
        </style>
    </head>

    <body>
        <div align="center">
            <table style="width: 100%; table-layout: fixed; ">
                <tr>
                    <td style="text-align:center;width: 100%;">
                        <div align="center" style="width: 100%; margin: auto;">
                            <a href="https://veterangaragedoor.com" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.vgdlogo)}" style="width: 30%;" />&nbsp;</a>
                        </div>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td style="text-align:center;width: 100%;">
                        <div align="center" style="width: 100%; margin: auto;">
                            <a href="https://www.facebook.com/VGDteam/" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.facebooklogo)}" style="width: 3%;" />&nbsp;</a>
                            <a href="https://www.yelp.com/biz/veteran-garage-door-grand-prairie-6" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.yelplogo)}" style="width: 3%;" />&nbsp;</a>
                            <a href="https://plus.google.com/106721865676742527969?hl=en" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.googlemapslogo)}" style="width: 3.2%;" />&nbsp;</a>
                            <a href="https://ink361.com/app/users/3162258186/veterangaragedoor/photos" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.instagramlogo)}" style="width: 3%;" />&nbsp;</a>
                            <a href="https://nextdoor.com/pages/veteran-garage-door-repair/recommend/" style="text-decoration: none;">&nbsp;
                                <img src="{!URLFOR($Resource.nextdoorlogo)}" style="width: 3%;" />&nbsp;</a>
                        </div>
                    </td>
                </tr>
            </table>
            <h2>INVOICE</h2>
        </div>
        <table style="width: 100%; table-layout: fixed; " cellspacing="0" cellpadding="0">
            <tr>
                <th style="text-align:center;background-color:#F2F2F2;">Appointment</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Technician</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Representative</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Estimate number</th>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <apex:outputText value="{!dat}" />
                </td>
                <td style="text-align:center;border-left: 1px solid grey;">{!Catalog_Order__c.Service_Lookup__r.CKSW_BASE__Resource__r.Name}</td>
                <td style="text-align:center;border-left: 1px solid grey;">{!Catalog_Order__c.Service_Lookup__r.CreatedBy.name}</td>
                <td style="text-align:center;border-left: 1px solid grey;">{!Catalog_Order__c.Estimate_num__C}</td>
            </tr>
        </table>

        <br/>
        <table style="width: 25%; table-layout: fixed; " cellspacing="0" cellpadding="0">
            <tr>
                <th style="text-align:center;border-right: 1px solid grey;background-color:#F2F2F2;">Service Completed</th>
            </tr>
            <tr>
                <td style="text-align:center;border-right: 1px solid grey;">
                    <apex:outputText value="{!datcomplete}" />&nbsp;</td>
            </tr>
        </table>

        <br/>
        <table style="width: 100%; table-layout: fixed; " cellspacing="0" cellpadding="0">
            <tr>
                <th style="text-align:center;background-color:#F2F2F2;">Customer Name</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Property Address</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Phone Number</th>
                <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">E-mail Address</th>
            </tr>
            <tr>
                <td style="text-align:center;">{!Catalog_Order__c.Account__r.FirstName} {!Catalog_Order__c.Account__r.LastName}</td>
                <td style="text-align:left;border-left: 1px solid grey;">{!Catalog_Order__c.Service_Lookup__r.CKSW_BASE__Street__c}
                    <br/>{!Catalog_Order__c.Service_Lookup__r.CKSW_BASE__City__c}, {!Catalog_Order__c.Service_Lookup__r.CKSW_BASE__State__c}
                    {!Catalog_Order__c.Service_Lookup__r.CKSW_BASE__zip__c}
                </td>
                <td style="text-align:center;border-left: 1px solid grey;">{!Catalog_Order__c.Account__r.PersonMobilePhone}</td>
                <td style="text-align:center;border-left: 1px solid grey;">{!Catalog_Order__c.Account__r.PersonEmail}</td>
            </tr>
        </table>

        <br/>
        <table style="width: 100%; table-layout: fixed; ">
            <tr>
                <td style="text-align:center;">
                    <table style="width: 100%; table-layout: fixed; " cellspacing="0" cellpadding="0">
                        <tr>
                            <th style="text-align:center;background-color:#F2F2F2;">QTY</th>
                            <th style="text-align:center;width: 65%;border-left: 1px solid grey;background-color:#F2F2F2;">Description</th>
                            <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;{!disc}">Discount</th>
                            <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Price</th>
                        </tr>
                        <apex:repeat var="item" value="{!Catalog_Order__c.Catalog_Line_Items__r}">
                            <tr>
                                <td style="text-align:center;">{!item.Quantity__c}</td>
                                <td style="text-align:left;width: 65%; border-left: 1px solid grey;">{!item.Product__r.Name}
                                    <apex:outputPanel rendered="{!item.Product_Description__c!=null}">
                                        <br/>
                                        <apex:outputField value="{!item.Product_Description__c}" />
                                        <apex:outputPanel rendered="{!item.Color__c!=null}">
                                            <br/>
                                            Color:&nbsp;<apex:outputField value="{!item.Color__c}" />
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </td>
                                <td style="text-align:center;border-left: 1px solid grey;{!disc}">
                                    <apex:outputText value="{0, Number, 0}%">
                                        <apex:param value="{!item.Discount__c}" /></apex:outputText>
                                </td>
                                <td style="text-align:center;border-left: 1px solid grey;">
                                    <apex:outputText value="{0, Number, Currency}" rendered="{!commercial}">
                                        <apex:param value="{!item.Final_Price__c}" /></apex:outputText>
                                </td>
                            </tr>
                        </apex:repeat>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%; border-left: 1px solid grey;"></td>
                            <td style="text-align:center;border-left: 1px solid grey;{!disc}"></td>
                            <td style="text-align:center;border-left: 1px solid grey;"></td>
                        </tr>
                    </table>
                    <br/>
                    <table style="width: 100%; table-layout: fixed; " cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="text-align:center;{!IF(Catalog_Order__c.Total_Discount__c=0,'display: none;','')}"></td>
                            <td style="text-align:center;width: 65%;{!IF(Catalog_Order__c.Total_Discount__c=0,'display: none;','')}"></td>
                            <td style="text-align:center;{!disc}{!IF(Catalog_Order__c.Total_Discount__c=0,'display: none;','')}"></td>
                            <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;{!IF(Catalog_Order__c.Total_Discount__c=0,'display: none;','')}">Total Discount:</th>
                        </tr>
                        <tr>
                            <td style="text-align:center;{!IF(Catalog_Order__c.Total_Discount__c=0,'display: none;','')}"></td>
                            <td style="text-align:center;width: 65%;{!IF(Catalog_Order__c.Total_Discount__c=0,'display: none;','')}"></td>
                            <td style="text-align:center;{!disc}{!IF(Catalog_Order__c.Total_Discount__c=0,'display: none;','')}"></td>
                            <td style="text-align:center;border-left: 1px solid grey;{!IF(Catalog_Order__c.Total_Discount__c=0,'display: none;','')}">
                                <apex:outputText value="{0, Number, Currency}">
                                    <apex:param value="{!Catalog_Order__c.Total_Discount__c*-1}" /></apex:outputText>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <td style="text-align:center;{!disc}"></td>
                            <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Tax: 8.25%</th>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <td style="text-align:center;{!disc}"></td>
                            <td style="text-align:center;border-left: 1px solid grey;">
                                <apex:outputText value="{0, Number, Currency}" rendered="{!commercial}">
                                    <apex:param value="{!Catalog_Order__c.Tax__c}" /></apex:outputText>&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <td style="text-align:center;{!disc}"></td>
                            <th style="text-align:center;border-left: 1px solid grey;background-color:#F2F2F2;">Grand Total:</th>
                        </tr>
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;width: 65%;"></td>
                            <td style="text-align:center;{!disc}"></td>
                            <td style="text-align:center;border-left: 1px solid grey;">
                                <apex:outputText value="{0, Number, Currency}">
                                    <apex:param value="{!Catalog_Order__c.Grand_Total__c}" /></apex:outputText>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table style="width:100%;table-layout: fixed; " cellspacing="0" cellpadding="0">
            <tr>
                <th style="width:66%;text-align:center;background-color:#F2F2F2;">Job Notes</th>
                <td style="34%" rowspan="5" align="center">
                    <apex:image url="{!URLFOR($Resource.paidfull)}" width="200px" rendered="{!balance}"/>
                </td>
            </tr>
            <tr>
                <td style="width:66%;text-align:center;border-right: 1px solid grey;">{!Catalog_Order__c.Service_Lookup__r.job_notes__c}
                    <br/>
                </td>
            </tr>
            <tr>
                <td style="width:66%;text-align:center;">&nbsp;</td>
            </tr>
            <tr>
                <th style="width:66%;text-align:center;background-color:#F2F2F2;">Additional information</th>
            </tr>
            <tr>
                <td style="width:66%;text-align:center;border-right: 1px solid grey;">{!Catalog_Order__c.Service_Lookup__r.Additional_Information__c}
                    <br/>
                </td>
            </tr>
        </table>
        <apex:form >
            <div align="center" class="section" style="width: 100%; ">
                <h3 style="font-weight: bold;text-decoration: underline;">Inspection Form</h3>
                <table width="100%" style="border:1px solid black;border-collapse:collapse;">
                    <tbody>
                        <tr>
                            <td style="border: 1px solid grey;font-weight: bold;">Inspection Form #</td>
                            <td style="border: 1px solid grey;font-weight: bold;">{!inf.Name}</td>
                            <td style="border: 1px solid grey;font-weight: bold;">Service</td>
                            <td style="border: 1px solid grey;font-weight: bold;">{!inf.Service__r.name}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;font-weight: bold;">Door Size</td>
                            <td style="border: 1px solid grey;font-weight: bold;">{!inf.Door_Size__c}</td>
                            <td style="border: 1px solid grey;font-weight: bold;">Opener Manufacturer</td>
                            <td style="border: 1px solid grey;font-weight: bold;">{!inf.Opener_Manufacturer__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Door balance</td>
                            <td style="border: 1px solid grey;">{!inf.Door_balance__c}</td>
                            <td style="border: 1px solid grey;">Horizontal tracks</td>
                            <td style="border: 1px solid grey;">{!inf.Horizontal_tracks__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Door balance Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Door_balance_Comments__c}</td>
                            <td style="border: 1px solid grey;">Horizontal tracks Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Horizontal_tracks_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Rollers</td>
                            <td style="border: 1px solid grey;">{!inf.Rollers__c}</td>
                            <td style="border: 1px solid grey;">Sections Int/Ext</td>
                            <td style="border: 1px solid grey;">{!inf.Sections_Int_Ext__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Rollers Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Rollers_Comments__c}</td>
                            <td style="border: 1px solid grey;">Sections Int/Ext Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Sections_Int_Ext_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Cables</td>
                            <td style="border: 1px solid grey;">{!inf.Cables__c}</td>
                            <td style="border: 1px solid grey;">Weather seal</td>
                            <td style="border: 1px solid grey;">{!inf.Weather_seal__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Cables Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Cables_Comments__c}</td>
                            <td style="border: 1px solid grey;">Weather seal Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Weather_seal_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Drums</td>
                            <td style="border: 1px solid grey;">{!inf.Drums__c}</td>
                            <td style="border: 1px solid grey;">Strut</td>
                            <td style="border: 1px solid grey;">{!inf.Strut__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Drums Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Drums_Comments__c}</td>
                            <td style="border: 1px solid grey;">Strut Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Strut_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Center bearing</td>
                            <td style="border: 1px solid grey;">{!inf.Center_bearing__c}</td>
                            <td style="border: 1px solid grey;">Jamb brackets</td>
                            <td style="border: 1px solid grey;">{!inf.Jamb_brackets__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Center bearing Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Center_bearing_Comments__c}</td>
                            <td style="border: 1px solid grey;">Jamb brackets Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Jamb_brackets_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Center bracket</td>
                            <td style="border: 1px solid grey;">{!inf.Center_bracket__c}</td>
                            <td style="border: 1px solid grey;">Opening/Closing force</td>
                            <td style="border: 1px solid grey;">{!inf.Opening_Closing_force__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Center bracket Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Center_bracket_Comments__c}</td>
                            <td style="border: 1px solid grey;">Opening/Closing force Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Opening_Closing_force_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">End bearing plates</td>
                            <td style="border: 1px solid grey;">{!inf.End_bearing_plates__c}</td>
                            <td style="border: 1px solid grey;">Limits Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Limits_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">End bearing plates Comments</td>
                            <td style="border: 1px solid grey;">{!inf.End_bearing_plates_Comments__c}</td>
                            <td style="border: 1px solid grey;">Wires</td>
                            <td style="border: 1px solid grey;">{!inf.Wires__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Spring bar</td>
                            <td style="border: 1px solid grey;">{!inf.Spring_bar__c}</td>
                            <td style="border: 1px solid grey;">Wires Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Wires_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Spring bar Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Spring_bar_Comments__c}</td>
                            <td style="border: 1px solid grey;">Motor gear</td>
                            <td style="border: 1px solid grey;">{!inf.Motor_gear__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Hinges</td>
                            <td style="border: 1px solid grey;">{!inf.Hinges__c}</td>
                            <td style="border: 1px solid grey;">Motor gear Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Motor_gear_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Hinges Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Hinges_Comments__c}</td>
                            <td style="border: 1px solid grey;">Safety eyes</td>
                            <td style="border: 1px solid grey;">{!inf.Safety_eyes__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Top brackets</td>
                            <td style="border: 1px solid grey;">{!inf.Top_brackets__c}</td>
                            <td style="border: 1px solid grey;">Safety eyes Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Safety_eyes_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Top brackets Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Top_brackets_Comments__c}</td>
                            <td style="border: 1px solid grey;">Trolley /Carriage</td>
                            <td style="border: 1px solid grey;">{!inf.Trolley_Carriage__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Bottom brackets</td>
                            <td style="border: 1px solid grey;">{!inf.Bottom_brackets__c}</td>
                            <td style="border: 1px solid grey;">Trolley /Carriage Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Trolley_Carriage_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Bottom brackets Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Bottom_brackets_Comments__c}</td>
                            <td style="border: 1px solid grey;">Controls</td>
                            <td style="border: 1px solid grey;">{!inf.Controls__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Vertical tracks</td>
                            <td style="border: 1px solid grey;">{!inf.Vertical_tracks__c}</td>
                            <td style="border: 1px solid grey;">Controls Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Controls_Comments__c}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid grey;">Vertical tracks Comments</td>
                            <td style="border: 1px solid grey;">{!inf.Vertical_tracks_Comments__c}</td>
                            <td style="border: 1px solid grey;">&nbsp;</td>
                            <td style="border: 1px solid grey;">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <apex:image id="theImage" value="{!$Resource.inf}" width="75%" height="75%" />
            </div>
            <div class="section">
                <div style="width: 100%; ">
                    Service Disclaimer
                    <hr/> New installations (Doors / Openers / Springs) labor guaranteed for 1 year
                    <br/>General labor performed is guaranteed for 30 days
                    <br/>All parts are under warranty for 1 year from date listed (except remotes and sensors) unless mentioned
                    otherwise
                    <br/>A 50% Deposit is required for all work orders
                    <br/>72 HOUR NOTICE of cancellation or reschedule in writing / email is required in order to receive a full
                    deposit refund
                    <br/>Prior to Door and Opener installation garage must be CLEAN (from garage door to 2ft past end of top tracks
                    must be clear)
                    <br/>A $50 fee will be assessed, if on the day of installation the garage is not cleaned, as stated above
                    <br/>Estimates are valid for 30 days from the date listed above.
                    <br/>By signing this document the customer understand the above terms and agrees to pay any invoice(s) rendered
                    in compliance with associated Payment terms.
                </div>
                <br/>
                <div style="border: 1px solid grey;">
                    Customer Signature:
                    <br/>
                    <apex:image width="100%" height="130px" value="{!signaturepic}"></apex:image>
                </div>
                <apex:commandButton action="{!Back}" value="Back to Resign" id="theButton2" />
                <apex:commandButton action="{!GeneratePDF}" value="Accept Signature" id="theButton1" />
            </div>
        </apex:form>
    </body>

    </html>
</apex:page>