<apex:page Controller="SummaryJobController" showHeader="false" cache="true" contentType="{!contentType}" action="{!CheckPDF}" applyHtmlTag="false" standardStyleSheets="false">
    <html>
        
        <head>
            <style>
            .inputwidth {width:80px;border-style: none; border-width: 0px; border: 0px; padding: 0px;}
            .inputwidthcenter {width:80px;border-style: none; border-width: 0px; border: 0px; padding: 0px !important; text-align:center !important;}
            .numberwidth {width:50px;border-style: none; border-width: 0px; border: 0px; padding: 0px;text-align:right !important;}
            .hideinputborder{border-style: none; border-width: 0px; border: 0px; padding: 0px;}
            .hideinputborderright{width:80px;border-style: none; border-width: 0px; border: 0px; padding: 0px !important;text-align:right !important;}
            .hideinputbordermiddle{border-style: none; border-width: 0px; border: 0px; padding: 0px;text-align:center !important;}
            select{width:100px;border-style: none; border-width: 0px; border: 0px; padding: 0px;}
            @page {
                size:landscape;
            }
            @page :first{
                margin-top:-30px;
            }
            body {
                margin: 0.1in;
                font-family: "Open Sans", open-sans, sans-serif;
            }
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
            table{
                font-size:12px;
                border-collapse: collapse;
            }

            .noborder{
                vertical-align:top;
                border: 0px solid white;
            }
            .gr{
                background:white;
                text-align:center !important;

            }
            .ye{
                background:white;
                text-align:center !important;

            }
            .or{
                background:white;
                text-align:center !important;

            }
            .bl{
                background:#D9E1F2;
                text-align:center !important;
            }
            .blright{
                background:#D9E1F2;
                text-align:right !important;
            }
            body{
                padding:20px;
            }
            td,th{
                padding-left:3px !important;
                padding-right:3px !important;
            }
            .options td{
                padding-left:20px !important;
                padding-right:20px !important;
            }
            .options th{
                padding-left:20px !important;
                padding-right:20px !important;
            }
            h2{
                text-align:center !important;
            }
            .middle{
                text-align:center !important;
            }
            .middlesmall{
                text-align:center !important;
                font-size:12px;
            }
            .right{
                text-align:right !important;
            }
        </style>
        </head>
        
        <body>
            <h1>{!$User.CompanyText__c}</h1>
            <!--fleet-->
             <apex:outputPanel id="Fleet" rendered="{!RenderFleet}">
             <div align="center">
                <h1 style="font-size:24px;"><u>Fleet Report for week #<b>{!FleetWorkWeek}</b></u></h1>
            </div>
            <br/>
            <table border="1" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th class="middle">
                        Showing Data for Week:
                    </th>
                    <th class="middle">
                        {!FleetWorkWeek}
                    </th>
                    <th></th>
                    <th class="middle" colspan="7">
                        OTHER EXPENSES
                    </th>
                    <th></th>
                    <th class="middle" colspan="4">
                        TECH SHARE EXPENSES
                    </th>
                    <th colspan="3"></th>
                </tr>
                <tr>
                    <th class="middlesmall">
                        Unit No.
                    </th>
                    <th class="middlesmall">
                        Year-Make-Model-Type
                    </th>
                    <th class="middlesmall">
                        Truck Milleage 
                    </th>
                    <th class="middlesmall">
                        Truck Weekly Income
                    </th>
                    <th class="middlesmall">
                        Insurance
                    </th>
                    <th class="middlesmall">
                        Depreciation
                    </th>
                    <th class="middlesmall">
                        Maintanance
                    </th>
                    <th class="middlesmall">
                        Claims &amp; Damages
                    </th>
                    <th class="middlesmall">
                        Toll Tag
                    </th>
                    <th class="middlesmall">
                        Equipment
                    </th>
                    <th class="middlesmall">
                        Others <br/>(Clothing, receipts etc.)
                    </th>
                    <th class="middlesmall">
                        Sub-Total <br/>Other Expenses
                    </th>
                    <th class="middlesmall">
                        Merchant Fee
                    </th>
                    <th class="middlesmall">
                        Diesel / Fuel
                    </th>
                    <th class="middlesmall">
                        Tech Salary
                    </th>
                    <th class="middlesmall">
                        Sub-Total <br/>Tech-Share
                    </th>
                    <th class="middlesmall">
                        Field Mgmt / Training
                    </th>
                    <th class="middlesmall">
                        Total Costs <br/>w/o Field Mgmt
                    </th>
                    <th class="middlesmall">
                        TOTAL EXPENSE
                    </th>
                </tr>
            </thead>
            <tbody>
            <apex:repeat Value="{!FleetWrap.Fleet}" var="fl">
            <tr>
                <td class="middle">
                    {!fl.Unit_No__r.Name}
                </td>
                <td class="middle">
                    {!fl.Year_Make_Model_Type__c}
                </td>
                <td class="middle">
                    <apex:outputField value="{!fl.Truck_Milleage__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Truck_Weekly_Income__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Insurance__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Depreciation__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Maintanance__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Claims_Damages__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Toll_Tag__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Equipment__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Others_Clothing_receipts_etc__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Sub_Total_Other_Expenses__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Merchant_Fee__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Diesel_Fuel__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Tech_Salary__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Tech_Share__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Field_Mgmt_Training__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Total_Costs_w_o_Field_Mgmt__c}"/>
                </td>
                <td class="right">
                    <apex:outputField value="{!fl.Total_Expense__c}"/>
                </td>
            </tr>
            </apex:repeat>
                <tr>
                    <th class="bl" colspan="3">
                        TOTALS
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalIncome}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.WeeklyInsuranceFee}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalDepreciation}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalMaintenance}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalClaims}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalToll}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalEquipment}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalOthers}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalSubOther}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalMerchant}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalFuel}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalTechSalary}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalSubTech}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalMgmt}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalCosts}
                    </th>
                    <th class="blright">
                        ${!FleetWrap.TotalExpenses}
                    </th>
                </tr>
                <tr>
                    <th class="bl" colspan="4">
                        Cost on Income (%)
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.WeeklyInsuranceFee/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalDepreciation/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalMaintenance/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalClaims/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalToll/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalEquipment/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalOthers/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalSubOther/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalMerchant/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalFuel/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalTechSalary/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalSubTech/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalMgmt/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalCosts/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                    <th class="bl">
                        {!IF(FleetWrap.TotalIncome!=0,ROUND(FleetWrap.TotalExpenses/FleetWrap.TotalIncome*100,2),0)}%
                    </th>
                </tr>
            </tbody>
            </table>
            <br/>
            <table border="1" style="padding-left:100px;width:20%">
                <tr>
                    <th>
                    Field Management / Traininng Cost
                    </th>
                    <td class="right">
                        ${!FleetWrap.TrainingCost}
                    </td>
                </tr>
                <tr>
                    <th>
                    Fleet Annual Insurance Fee
                    </th>
                    <td class="right">
                        ${!FleetWrap.AnnualInsuranceFee}
                    </td>
                </tr>
                <tr>
                    <th>
                    Fleet Weekly Insurance Fee
                    </th>
                    <td class="right">
                        ${!FleetWrap.WeeklyInsuranceFee}
                    </td>
                </tr>
            </table>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!(!RenderFleet)}">
            <div align="center">
                <h1 style="font-size:24px;"><u>Weekly Report for week #<b>{!WorkWeek}</b></u></h1>
            </div>
                    <apex:repeat Value="{!WorkOrdersByTech}" var="TWO" first="{!incr}" rows="{!lim}">
                                <u>Technician:</u> {!TWO.TechNames}   <apex:outputPanel rendered="{!IF(TWO.GroupCompany!=null,true,false)}"><u>Company:</u> {!TWO.GroupCompany}</apex:outputPanel>
                                <br/>
                                <br/>
                                <apex:outputPanel id="subalert" rendered="{!IF(AND($User.CompanyText__c!='Green',$User.CompanyText__c!='Toro',contains(TWO.Technician.Full_Record_Type__c,'Sub')),true,false)}">
                                    <table width="45%" border="1">
                                        <tr>
                                            <th class="bl" style="background:yellow !important;font-size:26px;">
                                                Total Balance Due
                                            </th>
                                            <td style="text-align:right !important;background:yellow !important;font-size:26px;" class="bl">
                                                ${!TWO.Invoice.Balance__c}
                                            </td>
                                        </tr>
                                    </table>
                                </apex:outputPanel>
                                <br/>
                                <div class="tech">
                                    <div class="wos">
                                        <table border="1" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="middle">
                                                    </th>
                                                    <apex:outputPanel rendered="{!IF(OR($User.CompanyText__c='Green',$User.CompanyText__c='Toro',AND(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c!='NG')),false,true)}">
                                                        <th class="middle">
                                                            Work Order #
                                                        </th>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!IF($User.CompanyText__c='NG',false,true)}">
                                                    <th class="middle">
                                                        Finish Date
                                                    </th>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!IF($User.CompanyText__c='NG',true,false)}">
                                                    <th class="middle">
                                                        Date
                                                    </th>
                                                    </apex:outputPanel>
                                                    <th class="middle">
                                                        Customer Name
                                                    </th>
                                                    <th class="middle">
                                                        Work Location
                                                    </th>
                                                    <th class="middle">
                                                        Work City
                                                    </th>
                                                    <apex:outputPanel rendered="{!IF($User.CompanyText__c='NG',true,false)}">
                                                        <th class="middle">
                                                            Job Total
                                                        </th>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!IF($User.CompanyText__c='NG',false,true)}">
                                                        <th class="middle">
                                                            Credit
                                                        </th>
                                                        <th class="middle">
                                                            Cash
                                                        </th>
                                                        <apex:outputPanel rendered="{!IF(AND($User.CompanyText__c!='Green',$User.CompanyText__c!='Toro',OR(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c='NG')),false,true)}">
                                                            <th class="middle">
                                                                Check
                                                            </th>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(OR($User.CompanyText__c='360TS',$User.CompanyText__c='Green'),true,false)}">
                                                            <th class="middle">
                                                                Materials 
                                                            </th>
                                                        </apex:outputPanel>
                                                        <th class="middle">
                                                            {!IF(AND($User.CompanyText__c!='Toro',$User.CompanyText__c!='Green'),'Total Price','Job Total')}
                                                        </th>
                                                        <apex:outputPanel rendered="{!IF(OR(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c='Toro',$User.CompanyText__c='Green'),false,true)}">
                                                        <th class="middle">
                                                            CC Aproval Code
                                                        </th>
                                                        </apex:outputPanel>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!IF(AND($User.CompanyText__c!='Toro',$User.CompanyText__c!='Green'),true,false)}">
                                                    <th class="middle">
                                                        Service Type
                                                    </th>
                                                    </apex:outputPanel>
                                                    <th class="middle">
                                                        Job Type
                                                    </th>
                                                    <apex:outputPanel rendered="{!IF(OR(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c='NG',$User.CompanyText__c='Toro',$User.CompanyText__c='Green'),false,true)}">
                                                    <th class="middle">
                                                        N/D
                                                    </th>
                                                    </apex:outputPanel>
                                                    <!--<apex:outputPanel rendered="{!IF(OR(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c='NG'),false,true)}">
                                                    <th class="middle">
                                                        Merchant Fee
                                                    </th>
                                                    </apex:outputPanel>-->
                                                    <apex:outputPanel rendered="{!IF(AND(contains(TWO.Technician.Full_Record_Type__c,'Sub'),OR($User.CompanyText__c='Toro',$User.CompanyText__c='Green')),true,false)}">
                                                    <th class="middle">
                                                        Tech Share %
                                                    </th>
                                                     </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!IF(OR(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c='Toro',$User.CompanyText__c='Green'),true,false)}">
                                                    <th class="middle">
                                                        Tech Share
                                                    </th>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!IF(OR(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c='NG',$User.CompanyText__c='Toro',$User.CompanyText__c='Green'),false,true)}">
                                                    <th class="middle">
                                                        Tech Sales Fee
                                                    </th>
                                                    </apex:outputPanel>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <apex:repeat Value="{!TWO.WorkOrders}" var="WO">
                                                    <tr style="background:{!WO.color};">
                                                        <td class="middle">
                                                            {!WO.LineNum}
                                                        </td>
                                                        <apex:outputPanel rendered="{!IF(OR($User.CompanyText__c='Green',$User.CompanyText__c='Toro',AND(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c!='NG')),false,true)}">
                                                            <td class="middle">
                                                                {!WO.Acc.Name}
                                                            </td>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF($User.CompanyText__c='360TS',true,false)}">
                                                        <td class="middle">
                                                            <apex:outputText value="{0,date,MM/dd/yy}">
                                                                <apex:param value="{!WO.FinishStamp}"/>
                                                            </apex:outputText>
                                                        </td>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF($User.CompanyText__c='360TS',false,true)}">
                                                        <td class="middle">
                                                            <apex:outputText value="{0,date,MM/dd/yy}">
                                                                <apex:param value="{!WO.NGStamp}"/>
                                                            </apex:outputText>
                                                        </td>
                                                        </apex:outputPanel>
                                                        <td>
                                                            <apex:outputField styleClass="inputwidth" value="{!WO.Acc.First_Name__c}"/>
                                                        </td>
                                                        <td>
                                                            <apex:outputField styleClass="inputwidth" value="{!WO.Acc.BillingStreet}" style="height:20px"/>
                                                        </td>
                                                        <td class="middle">
                                                            <apex:outputField styleClass="inputwidthcenter" value="{!WO.Acc.BillingCity}"/>
                                                        </td>
                                                        <apex:outputPanel rendered="{!IF($User.CompanyText__c='NG',true,false)}">
                                                            <td class="right">
                                                                ${!WO.TotalAmount}
                                                            </td>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF($User.CompanyText__c='NG',false,true)}">
                                                            <td class="right">
                                                                <apex:outputField styleClass="numberwidth" value="{!WO.Acc.Office_Credit__c}"/>
                                                            </td>
                                                            <td class="right">
                                                                <apex:outputField styleClass="numberwidth" value="{!WO.Acc.Technician_Cash_Check__c}"/>
                                                            </td>
                                                            <apex:outputPanel rendered="{!IF(AND(contains(TWO.Technician.Full_Record_Type__c,'Company'),$User.CompanyText__c='360TS'),true,false)}">
                                                                <td class="right">
                                                                    <apex:outputField styleClass="numberwidth" value="{!WO.Acc.Office_Cash_Check__c}"/>
                                                                </td>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!IF(OR($User.CompanyText__c='Green',$User.CompanyText__c='Toro'),true,false)}">
                                                                <td class="right">
                                                                    <apex:outputField styleClass="numberwidth" value="{!WO.Acc.Check_Amount__c}"/>
                                                                </td>
                                                            </apex:outputPanel>
                                                            <apex:outputPanel rendered="{!IF(OR($User.CompanyText__c='360TS',$User.CompanyText__c='Green'),true,false)}">
                                                                <td class="right">
                                                                    <apex:outputField styleClass="numberwidth" value="{!WO.Acc.Material2__c}"/>
                                                                </td>
                                                            </apex:outputPanel>
                                                            <td class="right">
                                                                ${!WO.TotalAmount}
                                                            </td>
                                                            <apex:outputPanel rendered="{!IF(OR(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c='Toro',$User.CompanyText__c='Green'),false,true)}">
                                                            <td class="middle">
                                                                <apex:outputField styleClass="inputwidthcenter" value="{!WO.Acc.CC_Approval_Code__c}"/>
                                                            </td>
                                                            </apex:outputPanel>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(AND($User.CompanyText__c!='Toro',$User.CompanyText__c!='Green'),true,false)}">
                                                        <td class="middle">
                                                            <apex:outputField value="{!WO.Acc.Services_Type__c}"/>
                                                        </td>
                                                        </apex:outputPanel>
                                                        <td class="middle">
                                                            <apex:outputField value="{!WO.Acc.Job_Type__c}"/>
                                                        </td>
                                                        <apex:outputPanel rendered="{!IF(OR(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c='NG',$User.CompanyText__c='Toro',$User.CompanyText__c='Green'),false,true)}">
                                                        <td class="middle">
                                                            {!WO.ND}
                                                        </td>
                                                        </apex:outputPanel>
                                                        <!--<apex:outputPanel rendered="{!IF(OR(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c='NG'),false,true)}">
                                                        <td class="right">
                                                            ${!IF(WO.Acc.Office_Credit__c!=null,ROUND(WO.Acc.Office_Credit__c*TWO.MerchantFeerate,2),0.00)}
                                                        </td>
                                                        </apex:outputPanel>-->
                                                        <apex:outputPanel rendered="{!IF(AND(contains(TWO.Technician.Full_Record_Type__c,'Sub'),OR($User.CompanyText__c='Toro',$User.CompanyText__c='Green')),true,false)}">
                                                        <td class="right">
                                                            {!ROUND(IF(
                                                                        AND(WO.Acc.HQ_Credit_Amount__c!=null,WO.Acc.CC_Fee__c!=null),
                                                                            IF(WO.TotalAmount-WO.Acc.HQ_Credit_Amount__c-WO.Acc.CC_Fee__c!=0,
                                                                                WO.TechShare/(WO.TotalAmount-WO.Acc.HQ_Credit_Amount__c-WO.Acc.CC_Fee__c)*100,
                                                                                0),
                                                                                IF(WO.Acc.HQ_Credit_Amount__c!=null,
                                                                                    IF(WO.TotalAmount-WO.Acc.HQ_Credit_Amount__c!=0,
                                                                                        WO.TechShare/(WO.TotalAmount-WO.Acc.HQ_Credit_Amount__c)*100,
                                                                                        0),
                                                                                    IF(WO.Acc.CC_Fee__c!=null,
                                                                                        IF(WO.TotalAmount-WO.Acc.CC_Fee__c!=0,
                                                                                            WO.TechShare/(WO.TotalAmount-WO.Acc.CC_Fee__c)*100,
                                                                                            0),
                                                                                        IF(WO.TotalAmount!=0,
                                                                                            WO.TechShare/WO.TotalAmount*100
                                                                                            ,0)))
                                                                    ),2)}%
                                                        </td>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(OR(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c='Toro',$User.CompanyText__c='Green'),true,false)}">
                                                        <td class="right">
                                                            ${!WO.TechShare}
                                                        </td>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel rendered="{!IF(OR(contains(TWO.Technician.Full_Record_Type__c,'Sub'),$User.CompanyText__c='NG',$User.CompanyText__c='Toro',$User.CompanyText__c='Green'),false,true)}">
                                                        <td class="right">
                                                            ${!WO.TechSalesFee}
                                                        </td>
                                                        </apex:outputPanel>
                                                    </tr>
                                                </apex:repeat>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br/>

                                    <br/>
                                        <apex:outputPanel id="sub" rendered="{!IF(contains(TWO.Technician.Full_Record_Type__c,'Sub'),true,false)}">
                                            <table width="100%">
                                                <tr>
                                                    <td  width="40%">
                                                        <table width="100%" border="1">
                                                                <tr>
                                                                    <th class="gr">
                                                                        Total Sales
                                                                    </th>
                                                                    <th class="gr">
                                                                        Total Tech Share
                                                                    </th>
                                                                    <th class="gr">
                                                                        Jobs Finished
                                                                    </th>
                                                                    <apex:outputPanel rendered="{!IF($User.CompanyText__c='360TS',true,false)}">
                                                                        <th class="gr">
                                                                            Total Cash
                                                                        </th>
                                                                        <th class="gr">
                                                                            Total Credit
                                                                        </th>
                                                                    </apex:outputPanel>
                                                                    <apex:outputPanel rendered="{!IF($User.CompanyText__c='Green',true,false)}">
                                                                        <th class="gr">
                                                                            Total Materials
                                                                        </th>
                                                                    </apex:outputPanel>
                                                                    <apex:outputPanel rendered="{!IF(OR($User.CompanyText__c='Green',$User.CompanyText__c='Toro'),true,false)}">
                                                                        <th class="gr">
                                                                            Tech Share %
                                                                        </th>
                                                                    </apex:outputPanel>
                                                                </tr>
                                                                <tr>
                                                                    <td class="gr">
                                                                        ${!TWO.Invoice.Total_Sales__c}
                                                                    </td>
                                                                    <td class="gr">
                                                                        ${!TWO.Invoice.Total_Tech_Share__c}
                                                                    </td>
                                                                    <td class="gr">
                                                                        {!TWO.Invoice.Jobs_Finished__c}
                                                                    </td>
                                                                    <apex:outputPanel rendered="{!IF($User.CompanyText__c='360TS',true,false)}">
                                                                        <td class="gr">
                                                                            ${!TWO.Invoice.Total_Cash__c}
                                                                        </td>
                                                                        <td class="gr">
                                                                            ${!TWO.Invoice.Total_Credit__c}
                                                                        </td>
                                                                    </apex:outputPanel>
                                                                    <apex:outputPanel rendered="{!IF($User.CompanyText__c='Green',true,false)}">
                                                                        <td class="gr">
                                                                            ${!TWO.Invoice.Total_Materials__c}
                                                                        </td>
                                                                    </apex:outputPanel>
                                                                    <apex:outputPanel rendered="{!IF(OR($User.CompanyText__c='Green',$User.CompanyText__c='Toro'),true,false)}">
                                                                        <td class="gr">
                                                                            {!TWO.Invoice.Salary__c}%
                                                                        </td>
                                                                    </apex:outputPanel>
                                                                </tr>
                                                        </table>
                                                    </td>
                                                <td  width="10%"></td>
                                                <td  width="25%">
                                                        <table border="1" width="100%">
                                                            <tr>
                                                                <th class="middle">
                                                                    {!IF(OR($User.CompanyText__c='Toro',$User.CompanyText__c='Green'),'Credit - (to Technician)','Payment Owed')}
                                                                </th>
                                                                <th class="noborder">
                                                                </th>
                                                            </tr>
                                                            <apex:repeat var="owe" value="{!TWO.ExpensesOwed}">
                                                                <tr>
                                                                <apex:outputPanel rendered="{!IF(owe.Name=null,false,true)}">
                                                                    <td>
                                                                        <apex:outputField styleClass="hideinputborder" value="{!owe.Name}"/>
                                                                    </td>
                                                                    <td class="right">
                                                                        <apex:outputField styleClass="numberwidth" value="{!owe.Amount__c}"/>
                                                                    </td>
                                                                </apex:outputPanel>
                                                                </tr>
                                                            </apex:repeat>
                                                            <tr>
                                                                <th class="middle">
                                                                    Total
                                                                </th>
                                                                <td class="right">
                                                                    ${!TWO.TotalOwed}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td></td>
                                                    <td  width="25%">
                                                        <table border="1" width="100%">
                                                            <tr>
                                                                <th class="middle">
                                                                    {!IF(OR($User.CompanyText__c='Toro',$User.CompanyText__c='Green'),'Deduction - (from Technician)','Payment Due')}
                                                                </th>
                                                                <th class="noborder">
                                                                </th>
                                                            </tr>
                                                            <apex:repeat var="due" value="{!TWO.ExpensesDue}">
                                                                <tr>
                                                                <apex:outputPanel rendered="{!IF(due.Name=null,false,true)}">
                                                                    <td>
                                                                        <apex:outputField styleClass="hideinputborder" value="{!due.Name}"/>
                                                                    </td>
                                                                    <td class="right">
                                                                        <apex:outputField styleClass="numberwidth" value="{!due.Amount__c}"/>
                                                                    </td>
                                                                </apex:outputPanel>
                                                                </tr>
                                                            </apex:repeat>
                                                            <tr>
                                                                <th class="middle">
                                                                    Total
                                                                </th>
                                                                <td class="right">
                                                                    ${!TWO.TotalDue}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <br/>
                                            <table border="1" width="30%">
                                            <tr>
                                                <th class="middle">
                                                    Balance This Week
                                                </th>
                                                <td class="right">
                                                    ${!TWO.Balance}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="middle">
                                                    Balance Overdue
                                                </th>
                                                <td class="right">
                                                    <apex:outputField styleClass="hideinputborderright" value="{!TWO.Invoice.Balance_Overdue__c}"/>
                                                </td>
                                            </tr>
                                            <tr class="noborder" style="height:10px;">
                                                <td  class="noborder">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="bl" style="background:#edf2f9 !important;">
                                                    Total Balance Due
                                                </th>
                                                <td style="text-align:right !important;background:#edf2f9 !important;" class="bl">
                                                    ${!TWO.Invoice.Balance__c}
                                                </td>
                                            </tr>
                                        </table>
                                        </apex:outputPanel>
                                        <apex:outputPanel id="company360" rendered="{!IF(AND(contains(TWO.Technician.Full_Record_Type__c,'Company Tech'),$User.CompanyText__c='360TS'),true,false)}">
                                            <table width="25%" border="1">
                                                <tr>
                                                    <th class="gr">
                                                        Total Tech Sales Fees
                                                    </th>
                                                    <th class="gr">
                                                        ${!TWO.Invoice.Total_Sales_Fees__c}
                                                    </th>
                                                </tr>
                                                <tr class="noborder" style="height:10px;">
                                                    <td  class="noborder">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="gr">
                                                        Total Sales
                                                    </th>
                                                    <th class="gr">
                                                        ${!TWO.Invoice.Total_Sales__c}
                                                    </th>
                                                </tr>
                                            </table>
                                        </apex:outputPanel>
                                        <apex:outputPanel id="companyElse" rendered="{!IF(AND(contains(TWO.Technician.Full_Record_Type__c,'Company Tech'),$User.CompanyText__c!='360TS'),true,false)}">
                                             <table width="100%">
                                                <tr>
                                                    <td  width="40%">
                                                        <table width="100%" border="1">
                                                                <tr>
                                                                    <th class="gr">
                                                                        Total Sales
                                                                    </th>
                                                                    <th class="gr">
                                                                        Total Tech Share
                                                                    </th>
                                                                    <th class="gr">
                                                                        Total Credit
                                                                    </th>
                                                                    <th class="gr">
                                                                        Total Cash
                                                                    </th>
                                                                    <th class="gr">
                                                                        Total Check
                                                                    </th>
                                                                    <th class="gr">
                                                                        Diesel / Fuel
                                                                    </th>
                                                                </tr>
                                                                <tr>
                                                                    <td class="gr">
                                                                        ${!TWO.Invoice.Total_Sales__c}
                                                                    </td>
                                                                    <td class="gr">
                                                                        ${!TWO.Invoice.Total_Tech_Share__c}
                                                                    </td>
                                                                    <td class="gr">
                                                                        ${!TWO.Invoice.Total_Credit__c}
                                                                    </td>
                                                                    <td class="gr">
                                                                        ${!TWO.Invoice.Total_Cash__c}
                                                                    </td>
                                                                    <td class="gr">
                                                                        ${!TWO.Invoice.Total_Check__c}
                                                                    </td>
                                                                    <td class="gr">
                                                                        ${!TWO.Invoice.Gas_Compensation__c}
                                                                    </td>
                                                                </tr>
                                                        </table>
                                                    </td>
                                                <td  width="10%"></td>
                                                    <td width="25%">
                                                        <table border="1" width="100%">
                                                            <tr>
                                                                <th class="middle">
                                                                    {!IF(OR($User.CompanyText__c='Toro',$User.CompanyText__c='Green'),'Credit - (to Technician)','Payment Owed')}
                                                                </th>
                                                                <th class="noborder">
                                                                </th>
                                                            </tr>
                                                            <apex:repeat var="owe" value="{!TWO.ExpensesOwed}">
                                                                <tr>
                                                                <apex:outputPanel rendered="{!IF(owe.Name=null,false,true)}">
                                                                    <td>
                                                                        <apex:outputField styleClass="hideinputborder" value="{!owe.Name}"/>
                                                                    </td>
                                                                    <td class="right">
                                                                        <apex:outputField styleClass="numberwidth" value="{!owe.Amount__c}"/>
                                                                    </td>
                                                                </apex:outputPanel>
                                                                </tr>
                                                            </apex:repeat>
                                                            <tr>
                                                                <th class="middle">
                                                                    Total
                                                                </th>
                                                                <td class="right">
                                                                    ${!TWO.TotalOwed}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td></td>
                                                    <td  width="25%">
                                                        <table border="1" width="100%">
                                                            <tr>
                                                                <th class="middle">
                                                                    {!IF(OR($User.CompanyText__c='Toro',$User.CompanyText__c='Green'),'Deduction - (from Technician)','Payment Due')}
                                                                </th>
                                                                <th class="noborder">
                                                                </th>
                                                            </tr>
                                                            <apex:repeat var="due" value="{!TWO.ExpensesDue}">
                                                                <tr>
                                                                <apex:outputPanel rendered="{!IF(due.Name=null,false,true)}">
                                                                    <td>
                                                                        <apex:outputField styleClass="hideinputborder" value="{!due.Name}"/>
                                                                    </td>
                                                                    <td class="right">
                                                                        <apex:outputField styleClass="numberwidth" value="{!due.Amount__c}"/>
                                                                    </td>
                                                                </apex:outputPanel>
                                                                </tr>
                                                            </apex:repeat>
                                                            <tr>
                                                                <th class="middle">
                                                                    Total
                                                                </th>
                                                                <td class="right">
                                                                    ${!TWO.TotalDue}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr></tr>
                                            </table>
                                            <table width="25%" border="1">
                                                <tr>
                                                    <th class="gr">
                                                        Gross Salary
                                                    </th>
                                                    <th class="gr">
                                                        ${!TWO.Invoice.Total_Tech_salary__c}
                                                    </th>
                                                </tr>
                                            </table>
                                        </apex:outputPanel>
                                    <br/>
                                </div>
                    </apex:repeat>
            </apex:outputPanel>
        </body>
    </html>
</apex:page>