<apex:page id="pdfPage" Controller="SummaryJobController" showHeader="false" cache="true" contentType="{!contentType}" action="{!CheckPDF}" applyHtmlTag="false" standardStyleSheets="false">
    <head>
        <style>
            .inputwidth {width:80px;border-style: none; border-width: 0px; border: 0px; padding: 0px;}
            .inputwidthcenter {width:80px;border-style: none; border-width: 0px; border: 0px; padding: 0px !important; text-align:center !important;}
            .numberwidth {width:50px;border-style: none; border-width: 0px; border: 0px; padding: 0px;text-align:right !important;}
            .hideinputborder{border-style: none; border-width: 0px; border: 0px; padding: 0px;}
            .hideinputborderright{width:80px;border-style: none; border-width: 0px; border: 0px; padding: 0px !important;text-align:right !important;}
            .hideinputbordermiddle{border-style: none; border-width: 0px; border: 0px; padding: 0px;text-align:center !important;}
            select{width:100px;border-style: none; border-width: 0px; border: 0px; padding: 0px;}
            @page {
                size:landscape;
            }
            @page :first{
                margin-top:-30px;
            }
            body {
                margin: 0.1in;
                font-family: "Open Sans", open-sans, sans-serif;
            }
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
            table{
                font-size:8px;
                border-collapse: collapse;
            }

            .noborder{
                vertical-align:top;
                border: 0px solid white;
            }
            .gr{
                background:white;
                text-align:center !important;

            }
            .ye{
                background:white;
                text-align:center !important;

            }
            .or{
                background:white;
                text-align:center !important;

            }
            .bl{
                background:#D9E1F2;
                text-align:center !important;
            }
            .blright{
                background:#D9E1F2;
                text-align:right !important;
            }
            body{
                padding:20px;
            }
            td,th{
                padding-left:3px !important;
                padding-right:3px !important;
            }
            .options td{
                padding-left:20px !important;
                padding-right:20px !important;
            }
            .options th{
                padding-left:20px !important;
                padding-right:20px !important;
            }
            h2{
                text-align:center !important;
            }
            .middle{
                text-align:center !important;
            }
            .middlesmall{
                text-align:center !important;
                font-size:8px;
            }
            .right{
                text-align:right !important;
            }
        </style>
    </head>
    <apex:include pageName="SummaryJobRender"/>
</apex:page>